@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.container {
    min-width: 250px;
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.box {
    width: 100px;
    height: 100px;
    background-color: rgba(207, 202, 194, 0.863);
    margin: 5px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
}
.box2 {
    width: 300px;
    height: 100px;
    background-color: rgba(207, 202, 194, 0.863);
    margin: 5px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
    border-radius: 10px;
    text-align: center;
    line-height: 100px;
}
div > a {
    font-size: 40px;
    font-family:  'Bebas Neue', cursive;
}