.container {
    min-width: 250px;
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.box {
    width: 250px;
    height: 375px;
    background-color: rgba(70, 45, 5, 0.863);
    margin: 5px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
    border-radius: 10px;
    
}

.box2 {
    width: 333px;
    height: 200px;
    background-color: rgba(70, 45, 5, 0.863);
    margin: 5px 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.397);
    border-radius: 10px;
    
}